.card-stock {
    .card-header{
        &.card-header-icon,
        &.card-header-text{
          text-align: left;
        }
    
    }
}

.trade-btn {
    width: 10vw;
    height: 8vh;
    margin-right: 100px !important;
    margin-top: 10px !important;
}